:root {
    --clr-primary: hsl(174, 100, 2);
    --clr-secondary: hsl(0, 0, 45);
    --clr-action: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: #EFFBF9;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 8rem;
    align-items: center;
    justify-content: center;
}

/* I used CSS Nesting here for practice purpose, it is not fully supported yet but I love it */
/* for mobile phone compatibility, all nested elements starts with '&', this is not realy required by other devices */

section {
    display: block;
    width: 28rem;
    height: 17rem;


    & img {
        width: 4.8rem;
        height: 5rem;
        margin-bottom: 3rem;
    }

    & h1 {
        color: var(--clr-primary);
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    & p {
        color: var(--clr-secondary);
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.6rem;
    }

    & p + p {
        display: none;
    }
}

#individuls_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    background-color: #FFFFFF;
    height: 42rem;
    width: 36rem;
    padding: 2.5rem;
    gap: 1.5rem;
    border-radius: 0.5rem;

    & p {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        align-items: flex-start;
        position: relative;

        & label {
            color: var(--clr-primary);
            font-size: 1rem;
            font-weight: 500;
        }

        & input {
            width: calc(100% - 2rem);
            height: 3rem;
            color: #737373;
            background-color: #FFFFFF;
            padding: 0 1rem;
            border: 2px solid #A6A6A6;
            border-radius: 0.5rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none

            ;
            &:hover, &:focus {
                border: 2px solid #2EC4B6;
                outline: none;
            }
        }
        
        & .opened {
            display: none;
        }

        & .closed {
            position: absolute;
            right: 1rem;
            top: 3.5rem;
        }

        & select {
            width: 100%;
            height: 3rem;
            padding: 0 1rem;
            color: #737373;
            background-color: #FFFFFF;
            border: 2px solid #A6A6A6;
            border-radius: 0.5rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;

            &:hover, &:focus {
                border: 2px solid #2EC4B6;
                outline: none;
            }
        }

        & .down {
            position: absolute;
            right: 1rem;
            top: 3.5rem;
            cursor: pointer;
            pointer-events: none;
        }
    }

    .form_last_child {
        grid-area: 5 / 1 / 5 / 3;

        & button {
            color: var(--clr-action);
            font-size: 1rem;
            font-weight: 500;
            background-color: #2EC4B6;
            border: 0;
            height: 3rem;
            width: 100%;
            justify-self: center;
            align-self: center;
            border-radius: 0.5rem;
        }
    
        & p {
            display: inherit;
            color: var(--clr-primary);
            font-size: 0.8rem;
            justify-self: center;
            align-self: center;
            text-align: center; 
            padding-top: 1rem; 
            
            & .terms_of_use, .privacy_policy {
                color: #2EC4B6;
            }
        }
        
    }

}

.condition_outside_form {
    display: none;
}

@media screen and (max-width: 768px) {
    /* for mobile compatibility, all nested element starts with '&'. Hopefully this will change in future for mobile devices */

    body {
        /* width: 100svw; */
        height: 100%;
    }    

    main {
        flex-direction: column;
        gap: 3rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    
    section {
        width: 22rem;
        height: auto;
    
        & p {
            display: none;
        } 

        & p + p {
            display: inherit;
        }
    }
    
    #individuls_form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 20rem;
        padding: 1rem;
    
        & .form_last_child {
            display: block;
        
            & p {
                display: none;
            }
            
        }

    }

    .condition_outside_form {
        display: block;
        color: var(--clr-primary);
        font-size: 0.8rem;
        justify-self: center;
        align-self: center;
        text-align: center; 
        padding-top: 1rem; 
        width: 18rem;

        & .terms_of_use, .privacy_policy {
            color: #2EC4B6;
        }
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
    main {
        gap: 4rem;
        padding: 0 2rem;
    }
}